.detailContainer{
    margin-bottom: 40px;
}

.pokemonImg{
    height: 160px;
    width: 160px;
}
.pokemonDetails{
    background-color: lightgrey;
    margin-top: -24px;
}
.detailInner{
    padding: 24px 20px;
}

.fieldOuter{
    display: flex;
    justify-content: space-between;
    
}

.fieldInner{
    font-size: 18px;
    text-align: left;    
}
