.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto 32px auto;
    padding-bottom: 32px ;
    border-bottom: 2px solid black;
    
}
h2{
    margin: 0;
    padding: 24px;
    text-transform: uppercase;
    font-size: 32px;
    text-align: center;

}

.listContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 40px;    
    text-align: center;
    background-color: lightgrey;
}

.pokeListContainer{
    list-style: none;
}
.pokemonList{
    width: 180px;
    font-size: 24px;
    line-height: 2;
    text-transform: capitalize;
}
